services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: itudbuser
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: itudb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
volumes:
  pgdata:
